<!Doctype html>
<html lang="eng">

<head>
	<!-- Basic page needs -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Dealz Arabia || Earning</title>
	<meta name="description" content="">
	<!-- Mobile specific metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- Favicon -->
	<link rel="icon" href="img/h-1.png" type="image/x-icon" />
	<!--All Fonts  Here -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
	<!-- style CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- responsive CSS -->
	<link rel="stylesheet" href="css/responsive.css"> </head>

<body>
	<div class="top-header" id="sticker">
		<div class="container">
			<header>
				<div class="head-nav-third">
					<div class="row">
						<div class="col-lg-12 col-sm-12 col-md-12 col-12">
							<nav class="navbar navbar-expand-lg">
								<a class="navbar-brand" href="index.html"><img src="img/logo.png" class="img-fluid" alt="" /></a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <i class="fal fa-bars"></i> </button>
								<div class="collapse navbar-collapse" id="collapsibleNavbar">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item"> <a class="nav-link" href="#">Our Product</a> </li>
										<li class="nav-item"> <a class="nav-link" href="#"> Winners</a> </li>
									</ul>
									<ul class="navbar-nav ml-auto">
										<li class="nav-item headerneed-help"> <a class="nav-link" href="#">Need Help? Contact us: <span>Call 0800-IDEALZ </span></a> </li>
										<li class="nav-item dropdown">
											<div class="currency-switcher">
												<div class="dropdown">
													<div class="caption"> <img src="img/india.png" class="img-fluid" alt=""> <span>INR</span> </div>
													<div class="list">
														<div class="item selected" data-item="RUB"> <img src="img/india.png" class="img-fluid" alt=""> <span>INR</span> </div>
														<div class="item" data-item="UAH"> <img src="img/india.png" class="img-fluid" alt=""> <span>UAH</span> </div>
														<div class="item" data-item="USD"> <img src="img/india.png" class="img-fluid" alt=""> <span>INR</span> </div>
													</div>
												</div>
											</div>
										</li>
										<li class="nav-item"> <a class="nav-link" href="#"><b> العربية  </b></a> </li>
										<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
												Harpreet <i class="fas fa-user-circle"></i>
											</a>
											<div class="dropdown-menu"> <a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="#">Account</a> <a class="dropdown-item" href="#">Logout</a> </div>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</header>
		</div>
	</div>
	<!-- profile -->
	<div class="my-profile">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="user_profile"> <i class="fa fa-user icon_user"></i>
						<div class="user">
							<h2>Harpreet Kaur</h2>
							<p class="email">harpreetkaur16th@gmail.com</p>
							<p>7982691137</p>
						</div>
					</div>
					<div class="sidenav">
						<div class="profiles">
							<h4 class="information">Account Information</h4> </div>
						<ul>
							<li><a href="#">My Profile</a></li>
							<li><a href="#">My Cart</a></li>
							<li><a href="#">Coupon & Offers</a></li>
							<li><a href="#">Delivery Address</a></li>
							<li><a href="#">My Orders</a></li>
							<li class="active"><a href="#">Our Earning</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Setting</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9">
					<div class="users_members">
						<div class="userss">
							<div class="user_1">
								<h4>Blue Member</h4>
								<p class="user_content">EXPIRING IN 358 DAYS</p>
							</div>
							<div class="user_1">
								<p class="ared">AED5.00</p>
								<p class="points">Your available iPoints</p>
							</div>
						</div>
						<div class="content">
							<p style="">Benefits : Get back 1% of your purchase in iPoints for a 12 months trailing period.</p>
						</div>
					</div>
					<div class="user-earningblock">
						<div class="users_members">
							<div class="userss">
								<div class="user_1">
									<h4>50</h4>
									<p class="user_content">Your available iPoints</p>
								</div>
								<div class="user_1">
									<p class="ared">AED5.00</p>
									<p class="points">Your available iPoints</p>
								</div>
							</div>
						</div>
						<div class="earning-table">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h5>Earn through voucher</h5>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<h6>0</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h5>Earn through Topup</h5>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<h6>43.50</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h5>Earn through Referral</h5>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<h6>3.50</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h5><span>Total Earned</span></h5>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<h6><span>00</span></h6>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<h5><span>Total Spent</span></h5>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<h6><span>00</span></h6>
								</div>
							</div>
						</div>
						<div class="user-cart">
							<div class="cart-box">
								<div class="table-responsive cart-table">
									<table class="table">
										<tbody>
											<tr>
												<td width="20%">
													<div class="cart-product">
														<img src="img/cart-img.png" class="img-fluid" alt="">
													</div>
												</td>
												<td width="50%">
													<div class="table-hd">
														<h3>iPad Air</h3>
														<h5>The all new 2022 Mercedes-AMG G63 is a legend raised to a higher power for a new era!</h5>
													</div>
													<ul>
														<li>
															<a href="#" class="remove-item success"> Accumulative Point <span>1</span>   </a>
														</li>
														<li>
															<a href="#" class="remove-item"> Est. Earnings  <span>5%</span> </a>
														</li>
													</ul>
												</td>
												<td>
													<div class="inquiry-and-buy">
														<p><a href="#"><i class="fas fa-heart"></i></a> &nbsp; &nbsp; <a href="#"><i class="fas fa-share-alt"></i></a></p>
													</div>
												</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
							<div class="cart-box">
								<div class="table-responsive cart-table">
									<table class="table">
										<tbody>
											<tr>
												<td width="20%">
													<div class="cart-product">
														<img src="img/cart-img.png" class="img-fluid" alt="">
													</div>
												</td>
												<td width="50%">
													<div class="table-hd">
														<h3>iPad Air</h3>
														<h5>The all new 2022 Mercedes-AMG G63 is a legend raised to a higher power for a new era!</h5>
													</div>
													<ul>
														<li>
															<a href="#" class="remove-item success"> Accumulative Point <span>1</span>   </a>
														</li>
														<li>
															<a href="#" class="remove-item"> Est. Earnings  <span>5%</span> </a>
														</li>
													</ul>
												</td>
												<td>
													<div class="inquiry-and-buy">
														<p><a href="#"><i class="fas fa-heart"></i></a> &nbsp; &nbsp; <a href="#"><i class="fas fa-share-alt"></i></a></p>
													</div>
												</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-12">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">About Idealz</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Active Tickets</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-12">
					<h4>Customer Services</h4>
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">How it Works</a></li>
						<li><a href="#">Charities</a></li>
						<li><a href="#">Campaign Draw Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-12">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Our Products</a></li>
						<li><a href="#">Winners</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-12">
					<h4>Download App </h4>
					<p>
						<a href="#"><img src="img/gplay.png" class="img-fluid"></a> &nbsp;
						<a href="#"><img src="img/ios.png" class="img-fluid"></a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<div class="page-ending">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12"> <img src="img/white-logo.png" class="img-fluid" alt=""> </div>
				<div class="col-lg-6 col-md-6 col-12">
					<ul>
						<li><a href="#">Copyright© 2022. All Rights Reserved. </a></li>
						<li><a href="#"> User Agreement. </a></li>
						<li><a href="#">Privacy Policy </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- ALL JS FILES HERE -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script>
	/* TOP Menu Stick
			--------------------- */
	var s = $("#sticker");
	var pos = s.position();
	$(window).scroll(function() {
		var windowpos = $(window).scrollTop();
		if(windowpos > pos.top) {
			s.addClass("stick");
		} else {
			s.removeClass("stick");
		}
	});
	</script>
	<script>
		$('.minus').click(function () {
			var $input = $(this).parent().find('input');
			var count = parseInt($input.val()) - 1;
			count = count < 1 ? 1 : count;
			$input.val(count);
			$input.change();
			return false;
		});
		$('.plus').click(function () {
			var $input = $(this).parent().find('input');
			$input.val(parseInt($input.val()) + 1);
			$input.change();
			return false;
		});
	</script>
	<!-- Header Dropdown -->
	<script>
	$('.dropdown > .caption').on('click', function() {
		$(this).parent().toggleClass('open');
	});
	// $('.price').attr('data-currency', 'RUB');
	$('.dropdown > .list > .item').on('click', function() {
		$('.dropdown > .list > .item').removeClass('selected');
		$(this).addClass('selected').parent().parent().removeClass('open').children('.caption').html($(this).html());
		if($(this).data("item") == "RUB") {
			console.log('RUB');
		} else if($(this).data("item") == "UAH") {
			console.log('UAH');
		} else {
			console.log('USD');
		}
		//         if ($(this).data("item") == "RUB") {
		//             $('.price').attr('data-currency', 'RUB');
		//             $('.currency').text('руб.');
		//         } else if ($(this).data("item") == "UAH") {
		//             $('.price').attr('data-currency', 'UAH');
		//             $('.currency').text('грн.');
		//         } else {
		//             $('.price').attr('data-currency', 'USD');
		//             $('.currency').text('долл.');
		//         }
	});
	$(document).on('keyup', function(evt) {
		if((evt.keyCode || evt.which) === 27) {
			$('.dropdown').removeClass('open');
		}
	});
	$(document).on('click', function(evt) {
		if($(evt.target).closest(".dropdown > .caption").length === 0) {
			$('.dropdown').removeClass('open');
		}
	});
	</script>
	
</body>

</html>